---
import CallButton from "../../components/CallButton.astro";
import Layout from "../../layouts/Layout.astro";
import { SERVICES_PAGE } from "../../const.js";
import UnderConstruction from "../../components/UnderConstruction.astro";

const posts = await Astro.glob("./posts/*.md");

const { content, title, description } = SERVICES_PAGE;
---

<!-- Layout contains meta title, meta desc., & the page headline -->
<Layout headline="SERVICES" title={title} description={description}>
	<p class="services_page_subheading">
		ROCKVILLE SPECIALISTS IN COLLISION AND AUTO BODY REPAIR
	</p>
	<div style="text-align: center;">
		<CallButton />
	</div>
	<p>
		At our shop, we use the latest technology and equipment to ensure the
		highest quality repairs. Overall, our goal is to get you back on the road as
		soon as possible with a vehicle that looks and runs like new. We are here to
		help you with all your car's needs, from minor repairs to major collision
		work.
	</p>
	<div class="service_wrapper">
		{
			posts.map((post) => (
				<a
					href={"/services/" + post.frontmatter.slug}
					class="services_items_wrapper"
				>
					<div class="services_item">
						<h2 class="services_item_title">
							{post.frontmatter.headline}
							<span style="color: orange;">&#8611;</span>
						</h2>
						<p class="services_item_description">
							{post.frontmatter.description.slice(0, 150)}...
						</p>
						<a href={`/services/${post.frontmatter.slug}`}>Read More</a>
					</div>
				</a>
			))
		}
	</div>
</Layout>
<style>
	.service_wrapper {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
	}
	a {
		color: blue;
	}
	.services_page_subheading {
		margin: 0.3rem 0;
		text-align: center;
	}

	.services_items_wrapper {
		text-decoration: none;
	}

	.services_item {
		outline: 1px solid black;
		box-shadow: 5px 2px 0 black;
		width: clamp(20rem, 100%, 100%);
		flex: 1 1 auto;
		color: white;
		border: 4px solid white;
		padding: 0.8rem;
		background: linear-gradient(
				to left,
				rgba(255, 187, 0, 0) 50%,
				rgba(255, 174, 0, 0.297) 50%
			)
			right;
		background-size: 200%;
		transition: 0.5s ease-out;
	}

	.services_item:hover {
		background-position: left;
		box-shadow: 2px 1px 0 black;
	}

	.services_item_title {
		margin: 0;
		/* font-size: 2.2rem; */
		line-height: 1;
		font-weight: 700;
		text-transform: uppercase;
	}

	.services_item_description {
		/* font-size: 1.1rem; */
		line-height: 1.3rem /* 36px */;
		padding: 0;
		margin: 0;
	}
	@media (min-width: 768px) {
		.services_item {
			padding: 1rem;
		}
	}
</style>
