---
import {
	ADDRESS,
	GOOGLE_MAPS_ADDRESS,
	PHONE_NUMBER,
	PHONE_NUMBER_FORMATTED,
} from "../const.js";
---

<div class="contact_wrapper">
	<h1 class="contact_headline">Get in touch</h1>
	<div class="contact_info_group">
		<div>
			<h3 class="label">Hours:</h3>
			<p class="info_text">Mon-Sat 9:00AM - 7:00pm</p>
			<p class="info_text">Sunday - CLOSED</p>
		</div>
		<div>
			<h3 class="label">Email:</h3>
			<p class="info_text">info@company.com</p>
		</div>
		<div>
			<h3 class="label">Phone Number:</h3>
			<a href={"tel:" + { PHONE_NUMBER }} class="info_link_text"
				>{PHONE_NUMBER_FORMATTED} <p>Click to call</p></a
			>
		</div>
		<div>
			<h3 class="label">Address:</h3>
			<a href={GOOGLE_MAPS_ADDRESS} class="info_link_text"
				>{ADDRESS} <p>Click to open maps</p></a
			>
		</div>
	</div>
</div>
<iframe
	src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3096.578640195654!2d-77.13480508446071!3d39.09329447954093!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7cd8e6835b643%3A0xaf1f32e63dbaac60!2s1621%20E%20Gude%20Dr%2C%20Rockville%2C%20MD%2020850!5e0!3m2!1sen!2sus!4v1673805169647!5m2!1sen!2sus"
	class="google_maps_embed"
	allowfullscreen=""
	loading="lazy"
	referrerpolicy="no-referrer-when-downgrade"></iframe>

<style>
	.contact_wrapper {
		text-align: left;
		background-color: rgb(0 0 0 / 0.75);
		border-radius: 0.375rem /* 6px */;
		font-size: 1.125rem /* 18px */;
		line-height: 1.75rem /* 28px */;
	}
	.contact_headline {
		font-size: 3.2rem /* 48px */;
		line-height: 1;
		font-weight: 700;
		padding: 1rem 0;
	}
	.label {
		font-weight: 700;
		font-size: 1.5rem /* 20px */;
		line-height: 1.75rem /* 28px */;
	}
	.info_text {
		font-size: 1.25rem /* 20px */;
		line-height: 1.75rem /* 28px */;
	}
	.info_link_text {
		color: rgb(249 115 22);
		font-size: 1.25rem /* 20px */;
		line-height: 1.75rem /* 28px */;
		font-weight: 600;
	}

	.contact_info_group {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin-bottom: rem;
	}

	.google_maps_embed {
		width: 100%;
		height: 25rem;
	}
</style>
