---
import CallButton from "../components/CallButton.astro";
import { Image } from "@astrojs/image/components";
import { IF_YOU_NEED_CTA } from "../const.js";
---

<div class="cta_section_wrapper">
	<h1 class="cta_headline">If you need...</h1>
	<ul>
		{
			IF_YOU_NEED_CTA.map((item) => (
				<li class="list_item">
					<img src={item.icon} alt="gear" class="list_item_icon" />
					<h2 class="list_item_para">{item.title}</h2>
				</li>
			))
		}
	</ul>
	<h2 style="text-align: center; margin: 0; letter-spacing: 2px;">Call us</h2>
	<div class="call_button_wrapper">
		<CallButton />
	</div>
</div>

<style>
	.cta_section_wrapper {
		color: rgb(45, 45, 45);
		text-align: left;
		background-color: rgb(248 250 252);
	}
	.cta_headline {
		text-decoration: underline;
		text-decoration-color: rgb(249 115 22);
		font-weight: 700;
		font-size: 3rem /* 60px */;
		text-align: center;
		color: rgb(249 115 22);
		margin: 0;
		padding: 1rem 0;
	}

	.cta_section_wrapper > ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	.call_button_wrapper {
		text-align: center;
	}

	.list_item_icon {
		width: 4rem;
	}
	.list_item {
		display: flex;
	}
</style>
