---
import CallButton from "../components/CallButton.astro";
import { IF_YOU_NEED_CTA } from "../const.js";
---

<div class="cta_section_wrapper">
	<h1 class="cta_headline">If you need...</h1>
	<ul>
		{
			IF_YOU_NEED_CTA.map((item) => (
				<li class="list_item">
					<img src={item.icon} alt="gear" class="list_item_icon" />
					<h2 class="list_item_para">{item.title}</h2>
				</li>
			))
		}
	</ul>
	<div style="text-align: center;">
		<CallButton />
	</div>
</div>

<style>
	.cta_section_wrapper {
		background-color: rgb(242, 242, 242);
		text-align: left;
		padding: 1rem 0;
	}
	.cta_headline {
		text-decoration: underline;
		font-weight: 800;
		color: var(--theme-color);
		text-align: center;
	}
	.list_item_icon {
		width: 3rem;
		height: 3rem;
	}
	.list_item {
		display: flex;
		align-items: center;
	}
</style>
