<footer class="footer_wrapper">
	<div>Copyright AutoBodyService.com. All Rights Reserved.</div>
</footer>

<style>
	.footer_wrapper {
		color: white;
		margin: auto;
		text-align: center;
		padding: 1rem 0 0.2rem 0;
	}
</style>
