---
import { PHONE_NUMBER, PHONE_NUMBER_FORMATTED } from "../const.js";
import ToggleMenu from "../components/ToggleMenu.svelte";
import { paths } from "../const.js";
import Banner from "../components/Banner.astro";
---

<header>
	<!-- <a href={"tel:" + PHONE_NUMBER} class="button_link">
		<button class="button_class">
			&#128222; {PHONE_NUMBER_FORMATTED}
		</button>
	</a> -->
	<nav class="nav_wrapper">
		<div class="flex">
			<a href="/">
				<img
					src="/assets/car_logo.svg"
					alt="logo image"
					height="30"
					width="30"
				/>
			</a>
			<div class="flex_item">
				<div><img src="/assets/clock.svg" alt="hours" width="25" /></div>
				<div>
					<div>Mon-Fri:</div>
					<div>9:00am-6:00pm</div>
				</div>
			</div>
		</div>
		<ul class="nav_ul_group">
			{
				paths.map((item) => (
					<li class="nav_li_item">
						<a href={item.path}>{item.title}</a>
					</li>
				))
			}
		</ul>
	</nav>
	<div class="menu">
		<ToggleMenu client:visible />
	</div>
</header>
<Banner />

<style>
	.button_class {
		background-color: rgb(255, 106, 0);
		width: 100%;
		color: white;
		border: none;
		appearance: none;
		margin: 0;
		padding: 1rem 0;
		cursor: pointer;
		font-size: 1.5rem;
	}
	.button_link {
		text-decoration: none;
		background-color: rgb(255, 106, 0);
		/* padding: 0.2rem 15vw; */
		font-weight: 500;
		text-shadow: 1px 3px 8px black;
	}
	/* menu */
	.nav_wrapper {
		color: black;
		display: none;
	}
	.nav_ul_group {
		display: flex;
		padding: 0;
		margin: 0;
	}
	.nav_li_item {
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		text-transform: uppercase;
	}
	.flex {
		display: flex;
		gap: 2rem;
		align-items: center;
	}
	.flex_item {
		display: flex;
		align-items: flex-start;
		gap: 2px;
	}
	@media (min-width: 768px) {
		.nav_wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1rem 1.4rem 0.7rem;
		}
		.button_class {
			display: none;
			padding: 1.8rem 30vw;
		}
		.nav_li_item > a {
			/* font-size: 1.1rem; */
			color: black;
			padding: 1rem 1rem;
			font-weight: 300;
			text-decoration: none;
		}
		.nav_li_item > a:hover {
			background: rgb(244, 244, 244);
		}
	}
</style>
