---
import CallButton from "../components/CallButton.astro";
---

<div class="text-center bg-black/80 text-slate-50 px-2 pb-16 mb-4">
	<h1 class="text-6xl pt-6 font-extrabold md:mt-4 md:text-8xl lg:text-9xl">
		Auto Body Service Rockville
	</h1>
	<p class="pb-4 text-xl mb-4 md:text-4xl lg:text-5xl">Free Estimates</p>
	<CallButton />
</div>

<style></style>
