---
import CallButton from "../components/CallButton.astro";
---

<div class="hero_wrapper">
	<p class="hero_subheading">Free Estimates</p>
	<div class="call_button_wrapper">
		<CallButton />
	</div>
</div>

<style>
	.hero_wrapper {
		text-align: center;
	}

	.hero_subheading {
		text-transform: uppercase;
		margin: 0.3rem 0;
		font-size: 1rem;
		text-align: center;
		letter-spacing: 4px;
	}
	@media (min-width: 768px) {
	}
	@media (min-width: 1024px) {
		.hero_subheading {
			font-size: 3rem /* 48px */;
			line-height: 1;
		}
	}
</style>
