---
import Card from "../components/Card.astro";
const service_cards = [
	{
		title: "COLLISION REPAIR",
		description:
			"We repair damage from accidents, including body work, paint, and mechanical repairs.",
		href: "/services/collision-repair",
	},
	{
		title: "Paintless dent repair",
		description:
			"We use specialized techniques to remove dents without affecting the paint on your car.",
		href: "/services/dent-removal",
	},
	{
		title: "Auto painting",
		description:
			"We use high-quality paint and techniques to restore the original color and finish of your vehicle.",
		href: "/services/paint-repair",
	},
	{
		title: "Glass Repair and replacement",
		description: "We can repair or replace any broken or damaged auto glass.",
		href: "/services/glass-repair-and-replacement",
	},
	{
		title: "Auto detailing",
		description:
			"We provide a thorough cleaning and detailing of the interior and exterior of your vehicle.",
		href: "/services/auto-detailing",
	},
];
---

<div class="info_wrapper">
	<h1 class="info_headline">Services</h1>
	<div class="service_card_group">
		{
			service_cards.map((item) => (
				<div>
					<Card
						card_title={item.title}
						card_description={item.description}
						href={item.href}
					/>
				</div>
			))
		}
	</div>
</div>

<style>
	.info_wrapper {
		margin-top: 3rem;
	}

	.info_headline {
		text-align: center;
		text-decoration: underline;
	}
	.service_card_group {
		gap: 1rem;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	}
	@media (min-width: 768px) {
	}
</style>
