---
import Card from "../components/Card.astro";
const service_cards = [
	{
		title: "EXTERIOR PAINTWORK",
		description:
			"exterior painting of your vehicle, with high-quality materials, skilled labor, achieving excellent results.",
		href: "/",
	},
	{
		title: "LIGHT BUMPS, SCRATCHES AND TOUCH-UPS",
		description: "We can fix minor bumps and scratches.",
		href: "/",
	},
	{
		title: "PAINT RESTORATION",
		description: "Renew the color and shine of your car.",
		href: "/",
	},
	{
		title: "DENT REMOVAL",
		description: "Renew the color and shine of your car.",
		href: "/",
	},
];
---

<div class="info_wrapper">
	<h1 class="info_headline">Services</h1>
	<div class="service_card_group">
		{
			service_cards.map((item) => (
				<div>
					<Card
						card_title={item.title}
						card_description={item.description}
						href={item.href}
					/>
				</div>
			))
		}
	</div>
</div>

<style>
	.info_wrapper {
		margin-top: 3rem;
	}

	.info_headline {
		text-align: center;
		text-decoration: underline;
	}
	.service_card_group {
		gap: 1rem;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	}
	@media (min-width: 768px) {
	}
</style>
