---
import { Image } from "@astrojs/image/components";
// import traffic from "/assets/traffic.jpg";
---

<div class="info_wrapper">
	<h2 class="info_headline">Car Accidents</h2>
	<img
		src="/assets/traffic.jpg"
		alt="cars in traffic"
		height={420}
		width={420}
		class="info_banner"
	/>
	<p>
		Car accidents can happen to anyone, at any time. It can be overwhelming to
		deal with the aftermath of a car accident. That's where we step in. We'll
		make sure your vehicle is repaired so you can get back on the road safely.
	</p>
	<p>
		Always use patience when driving. Patience saves lives. Safety is of utmost
		importance on our roadways at all times. Attention and courtesy will go a
		long way to make our roadways safer and more enjoyable.
	</p>
</div>

<style>
	.info_wrapper {
		background-color: rgb(248, 250, 252);
		color: rgb(17 24 39);
		padding-bottom: 0.5rem;
	}

	.info_headline {
		font-weight: 700;
		padding: 1rem 0 0 0;
		text-align: center;
		margin: 0;
		font-size: 2rem;
	}

	.info_wrapper > ul {
		list-style: none;
		padding: 0;
	}

	.info_item {
	}

	.list_text {
		font-size: 1.1rem;
		font-weight: 500;
		line-height: 1.4;
	}
	.info_banner {
		height: 9rem /* 144px */;
		object-fit: cover;
		width: 100%;
	}
</style>
