---
import CallButton from "../components/CallButton.astro";
import { Image } from "@astrojs/image/components";
import check from "/assets/check.svg";
---

<div class="service_wrapper">
	<div class="cta">
		<ul>
			<li class="list_item">
				<img src={check} alt="check" class="icon" />
				<h3>LIGHT BUMPS AND SCRATCHES</h3>
			</li>
			<li class="list_item">
				<img src={check} alt="check" class="icon" />
				<h3>GENERAL PAINTING OF VEHICLES</h3>
			</li>
			<li class="list_item">
				<img src={check} alt="check" class="icon" />
				<h3>ARRANGEMENT OF BUMPER, MIRRORS, BLINDS AND OTHER PLASTIC PARTS</h3>
			</li>
			<li class="list_item">
				<img src={check} alt="check" class="icon" />
				<h3>PAINT RESTORATION</h3>
			</li>
		</ul>
	</div>
	<div style="text-align: center;">
		<p class="call_us">Call Us</p>
		<CallButton />
	</div>
</div>

<style>
	h3 {
		padding: 0;
		margin: 0.5rem;
	}
	.call_us {
		margin: 0;
		padding: 0;
		letter-spacing: 4px;
		padding-top: 0.5rem;
	}
	.service_wrapper {
		text-align: left;
	}

	.cta > ul {
		margin: 0;
		padding: 0 2rem;
	}
	.list_item {
		display: flex;
		align-items: center;
		list-style: none;
		font-weight: 700;
		padding: 0;
		margin: 0;
	}
	.icon {
		width: 3rem; /* 48px  */
		height: 3rem;
	}
	@media (min-width: 768px) {
	}
	@media (min-width: 1024px) {
		.icon {
			width: 4rem /* 96px */;
			height: 4rem;
		}
	}
</style>
