---
import CallButton from "../components/CallButton.astro";
import { Image } from "@astrojs/image/components";
import check from "/assets/check.svg";
---

<div class="service_wrapper">
	<div class="cta">
		<ul>
			<li class="list_item">
				<img src={check} alt="check" class="icon" />
				<h3>LIGHT BUMPS AND SCRATCHES</h3>
			</li>
			<li class="list_item">
				<img src={check} alt="check" class="icon" />
				<h3>GENERAL PAINTING OF VEHICLES</h3>
			</li>
			<li class="list_item">
				<img src={check} alt="check" class="icon" />
				<h3>ARRANGEMENT OF BUMPER, MIRRORS, BLINDS AND OTHER PLASTIC PARTS</h3>
			</li>
			<li class="list_item">
				<img src={check} alt="check" class="icon" />
				<h3>PAINT RESTORATION</h3>
			</li>
		</ul>
	</div>
	<div style="text-align: center;">
		<p class="call_us">Call Us</p>
		<CallButton />
	</div>
	<p>
		We provide accident repair, rust repair, detailing and car washing, Scratch
		and chip repair, Paint matching and touch-ups.
	</p>
	<p>
		We work with all insurance companies and will handle the claims process for
		you, so you don't have to worry about a thing.
	</p>
	<p>
		Don't let an accident ruin your day. Trust our auto body shop for fast,
		reliable service and get back on the road in no time. Contact us today to
		schedule an appointment!
	</p>
</div>

<style>
	h3 {
		padding: 0;
		margin: 0.5rem;
	}
	.call_us {
		margin: 0;
		padding: 0;
		letter-spacing: 4px;
		padding-top: 0.5rem;
	}
	.service_wrapper {
		text-align: left;
	}

	.cta > ul {
		margin: 0;
		padding: 0 2rem;
	}
	.list_item {
		display: flex;
		align-items: center;
		list-style: none;
		font-size: 1.6rem;
		font-weight: 700;
		padding: 0;
		margin: 0;
	}
	.icon {
		width: 3rem; /* 48px  */
		height: 3rem;
	}
	@media (min-width: 768px) {
	}
	@media (min-width: 1024px) {
		.icon {
			width: 4rem /* 96px */;
			height: 4rem;
		}
	}
</style>
