---
import CallButton from "../components/CallButton.astro";
import check from "/assets/check.svg";
---

<div class="service_wrapper">
	<h2>Get the care you need, with the expertise you deserve.</h2>
	<div class="cta">
		<ul>
			<li class="list_item">
				<img src={check} alt="check" class="icon" />
				<h3>SAFE REPAIRS</h3>
			</li>
			<li class="list_item">
				<img src={check} alt="check" class="icon" />
				<h3>CLEAN PAINT WORK</h3>
			</li>
			<li class="list_item">
				<img src={check} alt="check" class="icon" />
				<h3>STRESS-FREE SERVICE</h3>
			</li>
		</ul>
	</div>
	<div>
		<CallButton />
	</div>
</div>

<style>
	h2 {
		color: var(--primary-text);
		font-family: var(--third-font);
		margin-bottom: 4.8786rem;
	}
	h3 {
		font-family: var(--secondary-font);
		padding: 0;
		margin: 0.5rem;
		color: var(--primary-text);
	}

	.service_wrapper {
		background-color: var(--theme-three);
		text-align: left;
		padding: 2.757rem var(--mobile-side-padding);
	}

	.cta > ul {
		margin: 0;
		padding: 0 0;
		margin-bottom: 0.7845rem;
		margin-left: -6px;
	}
	.list_item {
		display: flex;
		align-items: center;
		list-style: none;
		font-weight: 700;
		padding: 0;
		margin: 0;
	}
	.icon {
		width: 3rem; /* 48px  */
		height: 3rem;
	}
	@media (min-width: 768px) {
	}
	@media (min-width: 1024px) {
		.icon {
			width: 4rem /* 96px */;
			height: 4rem;
		}
	}
</style>
