---
import { PHONE_NUMBER, PHONE_NUMBER_FORMATTED } from "../const";
---

<div>
	Call to Get a Estimate at <strong>NO COST</strong>
	<a href={"tel:" + PHONE_NUMBER}>{PHONE_NUMBER_FORMATTED}</a>
</div>

<style>
	div {
		width: 100%;
		text-align: center;
		background: var(--theme-color);
		padding: 0.75rem;
		color: white;
		font-size: 1.1rem;
	}
	a {
		color: white;
	}
	a:visited {
		color: white;
	}
	strong {
		color: white;
	}
</style>
