<button class="button_class"
	><a href="tel:0000000000" class="button_link">&#128222; (000) 000-0000</a>
	<p>Click to call</p></button
>

<style>
	button {
		margin: 1rem 0;
	}
	.button_link {
		background-color: rgb(255, 106, 0);
		font-size: 2rem /* 24px */;
		line-height: 2rem /* 32px */;
		padding: 1.5rem 2rem;
		font-weight: 700;
		border-radius: 0.25rem;
		padding-bottom: 3rem;
		text-shadow: 1px 3px 8px black;
	}
</style>
