---
import { PHONE_NUMBER, PHONE_NUMBER_FORMATTED } from "../const.js";
---

<a href={"tel:" + PHONE_NUMBER}>Call Now</a>

<style>
	a {
		width: 15rem;
		color: white;
		text-decoration: none;
		background-color: var(--theme-two);
		padding: var(--mobile-button-padding);
		font-weight: 500;
		font-size: 1rem;
		border-radius: 0.25rem;
		color: black;
		/* text-shadow: 1px 1px 4px black; */
	}
	@media (min-width: 768px) {
		.button_link {
			font-size: 2rem;
		}
	}

	@media (min-width: 1024px) {
	}
</style>
