---
import { PHONE_NUMBER, PHONE_NUMBER_FORMATTED } from "../const.js";
---

<button class="button_class"
	><a href={"tel:" + { PHONE_NUMBER }} class="button_link"
		>&#128222; {PHONE_NUMBER_FORMATTED}</a
	>
	<p>Click to call</p></button
>

<style>
	button {
		height: fit-content;
		width: fit-content;
		margin: 1.5rem 0;
	}
	.button_link {
		background-color: rgb(255, 106, 0);
		font-size: 1.6rem /* 24px */;
		line-height: 2rem /* 32px */;
		padding: 1.5rem 1rem;
		font-weight: 700;
		border-radius: 0.25rem;
		padding-bottom: 3rem;
		text-shadow: 1px 3px 8px black;
	}

	@media (min-width: 768px) {
	}
</style>
