---
const { card_title, card_description, href } = Astro.props;
---

<div class="service_card">
	<img
		src="/assets/traffic.jpg"
		alt="cars in traffic"
		class="service_card_img"
		loading="lazy"
	/>
	<h2>{card_title}</h2>
	<p>
		{card_description}
	</p>
	<a href={href}>
		<div>Learn more</div>
	</a>
</div>

<style>
	.service_card {
		padding: 1rem;
		margin: 0;
		background-color: rgb(246, 246, 246);
		border-radius: 0.5rem;
		height: 100%;
	}

	.service_card_img {
		object-fit: cover;
		height: auto;
		max-width: 100%;
	}
	a > div {
		background-color: var(--theme-color);
		color: white;
		cursor: pointer;
		padding: 1rem;
		width: max-content;
	}
	a {
		text-decoration: none;
	}
</style>
