---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../section/Footer.astro";
import Header from "../section/Header.astro";
import "../base.css";
// import { Image } from "@astrojs/image/components";
// import backgroundimage from "/assets/bgImg.jpeg";
export interface Props {
	headline: string;
	title: string;
	description: string;
}

const { headline, title, description } = Astro.props;
---

<!-- more head --><!-- Layout contains meta title, meta desc., & the page headline -->
<html lang="en">
	<BaseHead description={description} title={title} />
	<body>
		<Header />
		<div class="layout_wrapper">
			<slot />
			<Footer />
		</div>
		<style is:global>
			* {
				box-sizing: border-box;
				color: black;
				/* border: 1px solid red; */
			}

			.layout_wrapper {
				margin: auto;
				background-color: var(--background-color);
				color: white;
			}

			.page_headline {
				/* font-size: 3.55rem; */
				margin: 0.5rem 0 0 0;
				line-height: 0.85;
				font-weight: 800;
				text-align: center;
			}
			@media (min-width: 768px) {
				.page_headline {
					/* font-size: 5rem; */
				}
				.layout_wrapper {
					/* max-width: 56rem 896px; */
				}
			}
			@media (min-width: 1024px) {
				.layout_wrapper {
					/* max-width: 72rem 1152px; */
					/* padding: 0 4.5rem; */
				}
			}
		</style>
	</body>
</html>
