---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../section/Footer.astro";
import Header from "../section/Header.astro";
// import { Image } from "@astrojs/image/components";
// import backgroundimage from "/assets/bgImg.jpeg";
export interface Props {
	headline: string;
	title: string;
	description: string;
}

const { headline, title, description } = Astro.props;
---

<!-- Layout contains meta title, meta desc., & the page headline --><!DOCTYPE html>
<html lang="en">
	<BaseHead description={description} title={title} />
	<body>
		<Header />
		<img
			src="/assets/bgImg.jpeg"
			width={1800}
			height={2000}
			class="background_image"
			alt="background cars"
		/>
		<div class="layout_wrapper">
			<h1 class="page_headline">{headline}</h1>
			<slot />
			<Footer />
		</div>
		<style is:global>
			:root {
				--background-color: #030303;
				--neutral-color: #1a1a1b;
			}
			* {
				box-sizing: border-box;
				/* border: 1px solid red; */
			}
			html,
			body {
				font-family: system-ui, sans-serif;
				width: 100%;
				height: 100%;
				margin: 0px;
				padding: 0px;
				overflow-x: hidden;
				background-color: var(--background-color);
			}

			p {
				font-size: 1.3rem;
				line-height: 1.7;
				letter-spacing: 1px;
			}

			.background_image {
				position: fixed;
				z-index: -1;
				object-fit: none;
				height: 100vh;
				width: 100vw;
				filter: grayscale(1);
			}
			.layout_wrapper {
				margin: auto;
				background-color: var(--neutral-color);
				padding: 0.5rem;
				color: white;
			}

			.page_headline {
				font-size: 3.75rem /* 60px */;
				margin: 1.2rem 0 0 0;
				line-height: 0.85;
				font-weight: 800;
				text-align: center;
			}
			@media (min-width: 768px) {
				.page_headline {
					font-size: 5rem;
				}
				.layout_wrapper {
					max-width: 56rem /* 896px */;
				}
			}
			@media (min-width: 1024px) {
				.layout_wrapper {
					max-width: 72rem /* 1152px */;
				}
			}
			@media (min-width: 1280px) {
				.layout_wrapper {
					max-width: 80rem /* 1280px */;
				}
			}
		</style>
	</body>
</html>
