---
import Header from "../section/Header.astro";
import { Image } from "@astrojs/image/components";
import backgroundimage from "/public/assets/bgImg.jpeg";
import { SITE_TITLE, SITE_DESCRIPTION } from "../const.js";
import BaseHead from "../components/BaseHead.astro";
export interface Props {
	headline: string;
}

const { headline } = Astro.props;
---

<body>
	<Header />
	<img
		src={backgroundimage}
		width={1800}
		height={2000}
		class="background_image"
		alt="background cars"
	/>
	<div class="layout_wrapper">
		<h1 class="page_headline">{headline}</h1>
		<slot />
	</div>
</body>
<style is:global>
	* {
		box-sizing: border-box;
		border: 1px solid red;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: white;
	}
	body {
		width: 100%;
		overflow-x: hidden;
	}
	h1 {
		margin: 1rem 0;
	}
	p {
		font-size: 1.25rem /* 20px */;
		line-height: 2.25rem 36px;
	}
	.background_image {
		position: fixed;
		z-index: -1;
		object-fit: none;
		height: 100vh;
		width: 100vw;
		filter: grayscale(1);
	}
	.layout_wrapper {
		margin: auto;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 0.5rem;
		color: white;
	}

	.page_headline {
		font-size: 3.75rem /* 60px */;
		line-height: 1;
		font-weight: 800;
		text-align: center;
	}
	@media (min-width: 768px) {
		.layout_wrapper {
			max-width: 56rem /* 896px */;
		}
	}
	@media (min-width: 1024px) {
		.layout_wrapper {
			max-width: 72rem /* 1152px */;
		}
	}
	@media (min-width: 1280px) {
		.layout_wrapper {
			max-width: 80rem /* 1280px */;
		}
	}
</style>
