---
import Layout from "./Layout.astro";

const { headline, title, description, redirect = "" } = Astro.props;
---

<Layout headline={headline} title={title} description={description}>
	<div class="back_wrapper">
		<a href={"/" + redirect}>Go back: {redirect}</a>
	</div>
	<slot />
</Layout>

<style>
	a:visited {
		color: white;
	}
	a {
		font-size: 1.3rem;
		background-color: rgba(154, 154, 154, 0.489);
		padding: 0.4rem;
		border-radius: 4px;
	}
	.back_wrapper {
		margin: 2rem 0;
	}
</style>
