---
import Layout from "../../layouts/Layout.astro";
import UnderConstruction from "../../components/UnderConstruction.astro";

const posts = await Astro.glob("./posts/*.md");
---

<Layout
	headline="FREQUENTLY ASKED QUESTIONS"
	title="Have a question about your vehicle? Click here."
	description="Uncertain of the price of a car repair? Do you have a question about damage to your vehicle? The most frequently asked questions, answered below."
>
	<div class="questions_wrapper">
		{
			posts.map((post) => (
				<a href={"/faq/" + post.frontmatter.slug} class="faq_items_wrapper">
					<div class="faq_wrapper">
						<h2>{post.frontmatter.headline}</h2>
						<p>{post.frontmatter.description.slice(0, 70)}...</p>

						<a class="btn" href={`/faq/${post.frontmatter.slug}`}>
							Read More
						</a>
					</div>
				</a>
			))
		}
	</div>
	<UnderConstruction />
</Layout>

<style>
	h2,
	p {
		margin: 0;
		line-height: 1.2;
	}
	a {
		color: blue;
	}
	.questions_wrapper {
		padding-top: 1rem;
	}
	.faq_items_wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 0.8rem;
		margin-top: 1rem;
		text-decoration: none;
		display: flex;
		flex-direction: column;
	}
	.faq_wrapper {
		box-shadow: 5px 2px 0 black;
		width: clamp(20rem, 100%, 100%);
		width: clamp(20rem, 100%, 100%);
		flex: 1 1 auto;
		color: white;
		border: 4px solid white;
		padding: 0.8rem;
		transition: all 0.5s ease-out;
	}
	.faq_wrapper:hover {
		box-shadow: 2px 1px 0 black;
	}
	.faq_wrapper:hover > .btn {
		text-decoration: underline;
	}

	.item_link > h1 {
		background-color: #3c4043a4;
		padding: 0.75rem;
		border-radius: 4px;
		line-height: 0.88;
	}

	.item_link > h1:hover {
		background-color: #3c4043;
	}

	.item_link > h1:hover > p > span {
		text-decoration: underline;
	}
	.item_link {
		color: white;
	}
	.item_link:visited {
		text-decoration: none;
		color: white;
	}
	a {
		text-decoration: none;
	}
	.preview_text {
		padding: 0;
		margin: 0;
		text-decoration: none;
		font-size: 1rem;
		font-weight: 400;
		line-height: 0.9;
		text-transform: lowercase;
	}

	@media (min-width: 768px) {
		.item_link > h1 {
			font-size: 3rem;
		}
		.preview_text {
			font-size: 1.2rem;
			font-weight: 300;
		}
	}
</style>
